extends layout

block scripts
  script(src="/js/admin/dashboard.js")

block content
  h3 Dashboard


  //  br
    | view all users
    br
    | --send user questionairs
    br
    br
    | Create Questionairs, once created questionair doesn't change.
    br
    | send to all users that haven't taken them
    br
    | Send Emails by Questionairs (or lack of questionairs) as filters out
    br
    | Reports (map of customers on google maps)

    br
    br
    | testamonials
    br
    br
    | Future
    br
    | Invoice
    br
    | School to train employees. (lms)
