extends ../layout

block scripts
  script(src="/js/admin/site/services.js")

block content
  .row
    form.col.s12
      h3 
        a.waves-effect.waves-light.btn-large.indigo.darken-4.right(href="javascript:void(0)", onclick="app.saveServices()") Save
        | Services
      br
      a.waves-effect.waves-light.btn.green(href="javascript:void(0)", onclick="app.addService()") New
      | &nbsp; (
      span#listLength
      | &nbsp;/ 50 Limit)
      br
      br
      div#loader
        | Loading
      div#nothingHereMessage
        br
        br
        br
        h5(style="text-align: center") Nothing Here. Try pressing new.
      div#list
      div#template.hide
        .card.root-service-card
          .card-content
            a.waves-effect.waves-light.right.btn.red(href="javascript:void(0)", onclick="app.deleteService(this)") Delete
            br
            input.id(type="hidden")
            .input-field
              input.name(placeholder="Foundation Work", type='text', maxlength="25")
              label Service Name
            .input-field
              textarea.message.materialize-textarea(maxlength="500", placeholder="We provide...")
              label Service
              // Modal Trigger
      //a.waves-effect.waves-light.btn.modal-trigger(href='#modal1') Modal
      // Modal Structure
      #delete-service-modal.modal
        .modal-content.red.white-text
          h4 Delete Service
        .modal-content
          h5 Name
          p#delete_name(style="word-break: break-all")
          h5 Service
          p#delete_service(style="word-break: break-all")
        .modal-footer
          a.modal-close.waves-effect.waves-green.btn-flat.left(href='javascript:void(0)') Cancel          
          a.waves-effect.btn.red(href='javascript:void(0)', onclick="app.confirmDeleteModal()") Delete
