extend layout


block content
  br
  .card
    .card-content
      .text-center
        h3 Not Activated
        p This website needs to be activated.
        br
        a.btn(href="/admin/app/billing") Activate Site
      
