nav.navbar.navbar-transparent.navbar-top(role='navigation')
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      // button#menu-toggle.navbar-toggle(type='button', data-toggle='collapse', data-target='#example')
        span.sr-only Toggle navigation
        span.icon-bar.bar1
        span.icon-bar.bar2
        span.icon-bar.bar3
      a(href='#')
        .logo-container
          .logo
            img(src='assets/img/new_logo.png', alt='Creative Tim Logo')
          .brand
            | BlueCollar Site.com
      // Collect the nav links, forms, and other content for toggling
    #example.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        //li
          p
            |                             michaelhunt.is@gmail.com
        li
          p(style="color: white;")
            |                             (832) 535-7657
    // /.navbar-collapse
